# Application
NODE_ENV=dev
PORT=8080

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=12312
JWT_EXPIRATION=24
JWT_REFRESH_EXPIRATION=24

# AWS S3
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_CLOUDFRONT_DOMAIN=

# SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=

# Frontend
FRONTEND_URL=
